* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #333;
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* HEADER */
.header {
  background: #0f172a;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  color: #fff;
  font-size: 22px;
}
.logo span {
  color: #38bdf8;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}

.menu-btn {
  display: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* HOME */
.home {
  background: #020617;
  color: #fff;
  padding: 130px 0 80px;
}

.home span {
  color: #38bdf8;
}

.buttons {
  margin-top: 20px;
}

.btn {
  background: #38bdf8;
  color: #020617;
  padding: 10px 20px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
}

.btn-outline {
  border: 2px solid #38bdf8;
  color: #38bdf8;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}

/* SECTIONS */
.section {
  padding: 80px 0;
}

.bg-light {
  background: #f4f4f4;
}

.bg-dark {
  background: #0f172a;
  color: #fff;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skill-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

/* PROJECTS */
.project-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.project-card span {
  color: #2563eb;
  font-size: 14px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  background: #020617;
  color: #fff;
}

/* MOBILE */
@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    background: #0f172a;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
  }

  nav a {
    padding: 12px;
    border-top: 1px solid #333;
  }

  .menu-btn {
    display: block;
  }
}
